<p id="notice"><%= notice %></p>

<p>
  <strong>Idnumber:</strong>
  <%= @employee.idnumber %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @employee.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
